// fonts font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto Slab', serif;
@import url(blocks/header/_header.less);
@import url(blocks/services/_services.less);
@import url(blocks/about_us/_about.less);
@import url(blocks/works/_works.less);
@import url(blocks/getintouch/_getintouch.less);
@import url(blocks/blog/_blog.less);
@import url(blocks/clients/_clients.less);
@import url(blocks/contactform/_contact.less);
@import url(blocks/footer/_footer.less);
body {
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding:0;
}

.wrapper {
	width: 1140px;
	margin:0 auto;
}
.button {
	display:inline-block;
	text-decoration: none;
	font-size:16px;
	text-transform: uppercase;
	width: 180px;
	color:#fff;
	padding:15px 0;
	border:2px solid #fff;
	transition: 0.2s;
	&:hover {
		background-color:#fff;
		color:#cc3333;
	}
}
.block-title {
	display:inline-block;
	font-weight: normal;
	font-size:20px;
	text-transform: uppercase;
	position:relative;
	padding-bottom: 30px;
	&::after{
		content:'';
		position:absolute;
		width:100%;
		height: 2px;
		background-color:#555555;
		top:100%;
		left:0;
		transform: scale(0.5);
	}
}
.block-description {
		font-family: 'Roboto Slab', serif;
		font-size:16px;
		margin-bottom: 70px;
		color:#555555;
}



