* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}
.button {
  padding: 12px 17px;
  background-color: #f7b731;
  border-radius: 5px;
  color: #28292d;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover {
  background-color: #fed330;
  -webkit-transition: .3s;
  transition: .3s;
}
.changed-header {
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: .2s;
}
header {
  height: 60px;
  background-color: #28292d;
  color: #fff;
  border-bottom: 1px solid #3E3E42;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: .2s;
  transition: .2s;
}
header .content {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .content .logo {
  float: left;
  width: 150px;
  height: 40px;
  background: url(../img/logo.png) no-repeat center;
  background-size: cover;
}
header .content .entry {
  height: 100%;
  width: 250px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
header .content .entry ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .content .entry ul li.enter {
  text-transform: uppercase;
}
header .content .entry ul li.enter button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 1px;
}
header .content .entry ul li.enter button:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .languages {
  height: 20px;
  width: 30px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffd700), color-stop(50%, #00008b), to(#00008b));
  background: linear-gradient(to bottom, #ffd700 50%, #00008b 50%, #00008b 100%);
  -webkit-box-shadow: 0 0 2px  #3d3d3d;
          box-shadow: 0 0 2px  #3d3d3d;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.popup__content {
  width: 350px;
  position: relative;
}
.popup__content input {
  width: 100%;
  display: block;
  padding: 5px 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 25px;
  color: #fff;
}
.popup__content input:focus {
  border-color: #fed330;
}
.popup__content button {
  border: none;
  outline: none;
  display: block;
  margin: 0 auto;
}
.popup__content span {
  position: absolute;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  top: -70px;
  right: -50px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}
.popup__content span:hover {
  color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.arrow-down {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 30px;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.arrow-down .indicator {
  height: 100%;
  width: 100%;
  position: relative;
}
.arrow-down .indicator span {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: arrow-down 1s linear infinite;
          animation: arrow-down 1s linear infinite;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.arrow-down .indicator span:nth-child(2) {
  top: -10px;
  left: -10px;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}
.arrow-down .indicator span:nth-child(3) {
  top: -20px;
  left: -20px;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.arrow-down .indicator span:nth-child(4) {
  top: -30px;
  left: -30px;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.arrow-to-menu {
  position: fixed;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  top: 100px;
  left: 50px;
  z-index: 99;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
}
.arrow-to-menu:hover {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: .2s;
  transition: .2s;
}
.arrow-to-menu span.menu-arrow {
  height: 15px;
  width: 1px;
  background-color: #fff;
  position: relative;
  border-radius: 2px;
}
.arrow-to-menu span.menu-arrow::before {
  content: "";
  position: absolute;
  display: block;
  height: 50%;
  width: 1px;
  background-color: #fff;
  bottom: 0.75px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.arrow-to-menu span.menu-arrow::after {
  content: "";
  position: absolute;
  display: block;
  height: 50%;
  width: 1px;
  background-color: #fff;
  bottom: 0.75px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.arrow-to-top {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .2s;
  transition: .2s;
}
.main-top {
  width: 100%;
}
.main-top .awards {
  position: absolute;
  z-index: 99;
  top: 150px;
  left: 50px;
}
.main-top .awards ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.main-top .awards ul li {
  font-size: 24px;
  color: #fff;
  width: 240px;
  margin-top: 50px;
  padding-left: 120px;
  position: relative;
}
.main-top .awards ul li::before {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  border: 10px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.main-top .awards ul li:nth-child(1)::before {
  background-image: url(../img/1.png);
}
.main-top .awards ul li:nth-child(2)::before {
  background-image: url(../img/eagle.png);
}
.main-top .awards ul li:nth-child(3)::before {
  background-image: url(../img/cup.png);
}
.main-top .awards ul li small {
  font-size: 14px;
  line-height: 22px;
  color: #cccccc;
  display: block;
  margin-top: 20px;
}
.main-top .owl-nav {
  position: absolute;
  top: 80%;
  z-index: 100;
  right: 40px;
  color: #fff;
  font-size: 100px;
  -webkit-transition: .2s;
  transition: .2s;
}
.main-top .owl-prev {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  outline: none;
  opacity: 0.5;
  margin-right: 20px;
}
.main-top .owl-next {
  -webkit-transition: .2s linear;
  transition: .2s linear;
  outline: none;
  opacity: 0.5;
}
.main-top .owl-prev:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .2s linear;
  transition: .2s linear;
  opacity: 1;
}
.main-top .owl-next:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .2s linear;
  transition: .2s linear;
  opacity: 1;
}
.main-top .slide {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #cccccc;
  text-align: center;
  position: relative;
}
.main-top .slide .icon-right-top {
  width: 8%;
  position: absolute;
  top: 100px;
  right: 50px;
  font-size: 12px;
  line-height: 22px;
}
.main-top .slide .icon-right-top img {
  height: 100%;
  width: 100%;
}
.main-top .slide h2 {
  font-size: 56px;
  color: #fff;
  width: 50%;
  margin: 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.main-top .slide .description {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 50px;
}
.main-about {
  min-height: 100vh;
  padding-top: 80px;
}
.main-about h2 {
  font-size: 36px;
  margin-bottom: 80px;
  font-weight: 400;
}
.main-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-about__container-content {
  font-size: 16px;
  line-height: 32px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  color: #6b6b6b;
}
.main-about__container-content span {
  font-size: 18px;
  color: #3c3c3c;
}
.main-about__container-logo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
}
.main-about__container-logo img {
  width: 100%;
}
.video-bg {
  min-height: 100vh;
  width: 100%;
  color: #cccccc;
  padding-top: 110px;
  text-align: center;
}
.video-bg h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: #fff;
  font-size: 48px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.video-bg table {
  width: 60%;
  opacity: 0.6;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 14px;
  border-collapse: collapse;
}
.video-bg table th {
  padding: 20px 40px;
  background-color: #000;
}
.video-bg table td {
  padding: 10px 30px;
  background-color: #ddd;
  color: #000;
}
.video-bg table td a {
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}
.video-bg table .table-week {
  font-weight: 700;
  color: #000;
  font-size: 18px;
}
.video-bg table .table-time {
  font-weight: 700;
  color: #000;
  font-size: 18px;
}
.video-bg table .table-watch {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  -webkit-transition: background-color 0.2s, font-weight 0.2s;
  transition: background-color 0.2s, font-weight 0.2s;
}
.video-bg table .table-watch:hover {
  background-color: #fed330;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.video-bg table .table-watch a {
  -webkit-animation: watch 2s ease-in infinite;
          animation: watch 2s ease-in infinite;
}
.video-bg table .table-watch a:hover {
  -webkit-animation: none;
          animation: none;
  font-weight: 700;
}
.main-services {
  min-height: 100vh;
  padding: 60px 0;
}
.main-services h3 {
  font-size: 36px;
  text-align: center;
  margin: 0;
  font-weight: 400;
}
.main-services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}
.main-services__content_service {
  text-align: center;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 30px 15px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.main-services__content_service:hover {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.main-services__content_service:nth-child(1) .service-icon {
  -webkit-box-shadow: 0 0 0 0 #001E2D;
          box-shadow: 0 0 0 0 #001E2D;
  background: #001E2D;
}
.main-services__content_service:nth-child(1):hover .service-icon {
  -webkit-box-shadow: 0 0 0 400px #001E2D;
          box-shadow: 0 0 0 400px #001E2D;
}
.main-services__content_service:nth-child(2) .service-icon {
  -webkit-box-shadow: 0 0 0 0 #FFA600;
          box-shadow: 0 0 0 0 #FFA600;
  background: #FFA600;
}
.main-services__content_service:nth-child(2):hover .service-icon {
  -webkit-box-shadow: 0 0 0 400px #FFA600;
          box-shadow: 0 0 0 400px #FFA600;
}
.main-services__content_service:nth-child(3) .service-icon {
  -webkit-box-shadow: 0 0 0 0 #001E2D;
          box-shadow: 0 0 0 0 #001E2D;
  background: #001E2D;
}
.main-services__content_service:nth-child(3):hover .service-icon {
  -webkit-box-shadow: 0 0 0 400px #001E2D;
          box-shadow: 0 0 0 400px #001E2D;
}
.main-services__content_service:nth-child(4) .service-icon {
  -webkit-box-shadow: 0 0 0 0 #FFA600;
          box-shadow: 0 0 0 0 #FFA600;
  background: #FFA600;
}
.main-services__content_service:nth-child(4):hover .service-icon {
  -webkit-box-shadow: 0 0 0 400px #FFA600;
          box-shadow: 0 0 0 400px #FFA600;
}
.main-services__content_service .service-icon {
  height: 70px;
  width: 70px;
  background-color: #000;
  margin: 0 auto;
  border-radius: 50%;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 70px;
  -webkit-transition: .7s;
  transition: .7s;
}
.main-services__content_service .service-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin: 20px 0;
  font-weight: 700;
}
.main-services__content_service .service-description {
  font-size: 12px;
  margin-bottom: 40px;
  line-height: 20px;
  font-weight: 700;
}
.main-services__content_service .service-btn {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  z-index: 2;
  -webkit-transition: .2s;
  transition: .2s;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-variant: small-caps;
  letter-spacing: 2px;
}
.main-services__content_service .service-btn:hover {
  -webkit-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: .2s;
  transition: .2s;
}
.main-counter {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.main-counter::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/section.jpg) no-repeat center;
  background-size: cover;
  z-index: -1;
  -webkit-animation: huge-bg 25s linear infinite alternate;
          animation: huge-bg 25s linear infinite alternate;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.main-counter .main-counter__content {
  color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-counter .main-counter__content-block .counter {
  font-size: 68px;
  letter-spacing: 5px;
  text-align: right;
  color: #ccc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.main-counter .main-counter__content-block .counter-description {
  display: block;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 50px;
}
.main-testemonials {
  height: 100vh;
  padding-top: 60px;
}
.main-testemonials h3 {
  font-size: 36px;
  font-weight: 400;
  margin-left: 10%;
}
.main-testemonials__carousel {
  padding: 50px;
  width: 100%;
  margin: 100px auto;
  background-color: #000;
  position: relative;
}
.main-testemonials__carousel .quote {
  position: absolute;
  top: 0;
  right: 25%;
  text-align: right;
  padding-top: 5px;
}
.main-testemonials__carousel .quote i {
  font-size: 35px;
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.main-testemonials__carousel .quote i:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 1s;
  transition: 1s;
}
.main-testemonials__carousel-card {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #cccccc;
}
.main-testemonials__carousel-card .card-icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
}
.main-testemonials__carousel-card .card-name {
  font-size: 18px;
  color: #fff;
}
.main-testemonials__carousel-card .card-text {
  font-size: 14px;
  line-height: 26px;
}
.main-testemonials .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-testemonials .owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border: 1.5px solid #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}
.main-testemonials .owl-dots .owl-dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: .2s;
  transition: .2s;
}
.main-testemonials .owl-dots .owl-dot.active {
  background-color: #fff;
}
.main-benefits {
  min-height: 100vh;
  padding: 60px 0;
  text-align: center;
}
.main-benefits h2 {
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}
.main-benefits_container {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-benefits_container_benefit {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.main-benefits_container_benefit:nth-child(1) .benefit-icon {
  background-image: url(../img/icons/dollar.png);
}
.main-benefits_container_benefit:nth-child(2) .benefit-icon {
  background-image: url(../img/icons/shield.png);
}
.main-benefits_container_benefit:nth-child(3) .benefit-icon {
  background-image: url(../img/icons/lock.png);
}
.main-benefits_container_benefit:nth-child(4) .benefit-icon {
  background-image: url(../img/icons/calendar.png);
}
.main-benefits_container_benefit .benefit-icon {
  background-repeat: no-repeat;
  background-position: center center;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid #FFA600;
  background-size: 50%;
}
.main-benefits_container_benefit .benefit-heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6b6b6b;
  font-variant: small-caps;
}
.main-benefits_container_benefit .benefit-description {
  font-size: 12px;
  color: #cccccc;
  line-height: 22px;
}
.main-quiz {
  min-height: 100vh;
  padding-top: 60px;
  background: url(../img/qize-bg.jpg) no-repeat center center;
  background-size: cover;
  color: #cccccc;
}
.main-quiz__prize {
  -webkit-animation: desappear .8s linear infinite alternate;
          animation: desappear .8s linear infinite alternate;
}
.main-quiz__value {
  font-size: 150px;
  font-weight: 700;
  color: #f7b731;
}
.main-quiz__description {
  margin-bottom: 200px;
  font-size: 28px;
}
@media (max-width: 1200px) {
  .main-top .awards ul li {
    width: 150px;
    font-size: 16px;
    padding-left: 80px;
  }
  .main-top .awards ul li::before {
    height: 70px;
    width: 70px;
  }
  .main-top .awards ul li small {
    font-size: 12px;
    margin-top: 10px;
  }
  .main-top .slide h2 {
    font-size: 48px;
  }
  .main-about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-about__container-content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main-about__container-logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 50px auto;
  }
  .main-services__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-services__content_service {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-top: 50px;
  }
  .main-counter .main-counter__content-block .counter-description {
    font-size: 18px;
  }
  .main-counter .main-counter__content-block .counter {
    font-size: 36px;
  }
  .main-benefits_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-benefits_container_benefit {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-top: 80px;
  }
  .main-quiz {
    padding-top: 150px;
  }
  .main-quiz__value {
    font-size: 120px;
  }
  .main-quiz__description {
    font-size: 20px;
    margin-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .main-top .awards {
    left: 10px;
    top: 200px;
  }
  .main-top .slide h2 {
    font-size: 36px;
    margin-bottom: 100px;
    width: 90%;
  }
  .main-top .slide .description {
    margin-bottom: 100px;
  }
  .main-benefits_container {
    margin-top: 50px;
  }
  .main-counter .main-counter__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-counter .main-counter__content-block {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-top: 100px;
  }
  .main-counter .main-counter__content-block .counter-description {
    font-size: 18px;
  }
  .main-counter .main-counter__content-block .counter {
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .main-top .awards {
    top: 400px;
  }
  .main-top .awards ul li {
    width: 100px;
    font-size: 12px;
    padding-left: 50px;
  }
  .main-top .awards ul li::before {
    height: 40px;
    width: 40px;
  }
  .main-top .awards ul li small {
    font-size: 10px;
    margin-top: 10px;
    line-height: 14px;
  }
  .video-bg h2 {
    font-size: 36px;
  }
  .video-bg .table th {
    padding: 10px 0;
    font-size: 12px;
  }
  .video-bg .table td {
    font-size: 10px;
  }
  .video-bg .table td a {
    padding: 10px 0;
  }
  .main-services h3 {
    font-size: 28px;
  }
  .main-services__content {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-services__content_service {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-top: 30px;
  }
  .main-services__content .service-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  .main-services__content .service-description {
    line-height: 14px;
  }
  .main-benefits h2 {
    font-size: 28px;
  }
  .main-benefits_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-benefits_container_benefit {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-top: 50px;
  }
  .main-quiz {
    padding-top: 150px;
  }
  .main-quiz__value {
    font-size: 120px;
  }
  .main-quiz__description {
    font-size: 20px;
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .main-top .awards {
    display: none;
  }
  .main-top .owl-nav {
    font-size: 30px;
  }
  .main-top .slide {
    height: 50vh;
  }
  .main-top .slide h2 {
    font-size: 18px;
    margin: 0;
  }
  .main-top .slide .icon-right-top {
    display: none;
  }
  .main-top .slide .description {
    font-size: 10px;
    margin: 30px 0;
    line-height: 1.2em;
  }
  .main-top .arrow-down {
    display: none;
  }
  .main-top #arrow-link {
    display: none;
  }
  .main-about {
    min-height: auto;
    padding: 20px;
  }
  .main-about h2 {
    margin: 0;
    font-size: 2em;
  }
  .main-about__container-content {
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.5em;
  }
  .main-about__container-logo {
    display: none;
  }
  .video-bg {
    display: none;
  }
  .main-services {
    min-height: auto;
  }
  .main-services h3 {
    font-size: 1.5em;
  }
  .main-services__content_service {
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  .main-services__content_service .service-icon {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 12px;
    float: left;
  }
  .main-services__content_service .service-heading {
    font-size: 12px;
  }
  .main-services__content_service .service-description {
    font-weight: 400;
    font-size: 12px;
  }
  .main-counter {
    min-height: auto;
    padding: 50px 0;
  }
  .main-counter .main-counter__content-block {
    margin: 0;
    margin-bottom: 20px;
  }
  .main-counter .main-counter__content-block .counter {
    font-size: 22px;
  }
  .main-counter .main-counter__content-block .counter-description {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .main-testemonials {
    padding: 20px 0;
    height: auto;
  }
  .main-testemonials h3 {
    font-size: 1.5em;
  }
  .main-testemonials__carousel {
    margin: 50px 0;
  }
  .main-testemonials__carousel .quote {
    right: 50px;
  }
  .main-testemonials__carousel .quote i {
    font-size: 28px;
  }
  .main-testemonials__carousel-card {
    width: 100%;
  }
  .main-testemonials__carousel-card .card-name {
    font-size: 1em;
  }
  .main-testemonials__carousel-card .card-text {
    font-size: 10px;
    line-height: 1.5em;
  }
  .main-benefits {
    min-height: auto;
    padding: 20px 0;
  }
  .main-benefits h2 {
    font-size: 1.5em;
  }
  .main-benefits_container {
    margin: 0;
  }
  .main-benefits_container_benefit {
    margin-top: 30px;
  }
  .main-benefits_container_benefit .benefit-heading {
    margin: 10px 0;
  }
  .main-benefits_container_benefit .benefit-description {
    line-height: 1.2em;
  }
  .main-quiz {
    min-height: auto;
    padding: 20px 0;
    padding-bottom: 40px;
  }
}
.site-footer {
  min-height: 100vh;
  padding: 80px 0;
  background-color: #28292d;
  color: #cccccc;
  position: relative;
}
.site-footer .footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.site-footer .footer-nav ul li {
  margin-bottom: 30px;
}
.site-footer .footer-nav ul li a {
  text-decoration: none;
  color: #cccccc;
  padding: 10px 0;
  -webkit-transition: .2s;
  transition: .2s;
}
.site-footer .footer-nav ul li a:hover {
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}
.site-footer .footer-social {
  margin: 20px auto;
}
.site-footer .footer-social ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 250px;
  padding: 0;
  margin: 0 auto;
}
.site-footer .footer-social ul li a {
  text-decoration: none;
  color: #cccccc;
  font-size: 28px;
  -webkit-transition: .2s;
  transition: .2s;
}
.site-footer .footer-social ul li a:hover {
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}
.site-footer .footer-privacy {
  text-align: center;
  font-size: 12px;
}
.site-footer .footer-privacy a {
  color: #cccccc;
}
.site-footer .footer-content {
  margin: 60px auto;
  width: 70%;
  font-size: 14px;
  line-height: 24px;
}
.site-footer .line {
  display: block;
  width: 100%;
  height: 3px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.site-footer .copy {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer-mobile {
  display: none;
}
.left-sidebar {
  background-color: #28292d;
  padding: 100px 40px;
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
}
.left-sidebar__nav ul {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-sidebar__nav ul li {
  margin-bottom: 25px;
}
.left-sidebar__nav ul li a {
  color: #cccccc;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}
.left-sidebar__nav ul li a:hover {
  color: #fed330;
  -webkit-transition: .2s;
  transition: .2s;
}
.left-sidebar .opportunities {
  margin-top: 50px;
}
.left-sidebar .opportunities ul {
  list-style: none;
  padding: 0;
}
.left-sidebar .opportunities ul li {
  margin-bottom: 20px;
  color: #cccccc;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  padding-left: 50px;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}
.left-sidebar .opportunities ul li::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .2s;
  transition: .2s;
}
.left-sidebar .opportunities ul li:hover::before {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: .2s;
  transition: .2s;
}
.left-sidebar .opportunities ul li:nth-child(1)::before {
  background-image: url(../img/icons/certificate.png);
}
.left-sidebar .opportunities ul li:nth-child(2)::before {
  background-image: url(../img/icons/protect.png);
}
.left-sidebar .opportunities ul li:nth-child(3)::before {
  background-image: url(../img/icons/mastercard.png);
}
.left-sidebar .opportunities ul li:nth-child(4)::before {
  background-image: url(../img/icons/visa.png);
}
.left-sidebar .opportunities ul li:nth-child(5)::before {
  background-image: url(../img/icons/maestro.png);
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-content {
  padding: 100px 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.page-content h3 {
  font-size: 36px;
  font-weight: 400;
}
.page-content p {
  color: #6b6b6b;
  line-height: 26px;
}
.page-content h5 {
  font-size: 18px;
  margin: 15px 0;
  font-weight: 400;
}
.page-content .grey-bg {
  background-color: #F2F2F3;
  color: #000;
  padding: 15px 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.page-content h4 {
  font-size: 24px;
  font-weight: 400;
  padding-left: 120px;
  position: relative;
}
.page-content h4::before {
  content: "";
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: -10px;
  background: url(../img/eagle.png) no-repeat;
  background-size: cover;
}
.page-content .awards {
  padding-left: 100px;
  position: relative;
}
.page-content .awards::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 10px;
  background: url(../img/cup.png) no-repeat;
  background-size: cover;
}
.page-content .award-two::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 20px;
  background: url(../img/1.png) no-repeat;
  background-size: cover;
}
.page-content__socials ul {
  padding: 0;
  list-style: none;
}
.page-content__socials ul li {
  display: inline-block;
}
.page-content__socials ul li a span {
  display: block;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-content__socials ul li:nth-child(1) a span {
  background-image: url(../img/icons/facebook.png);
}
.page-content__socials ul li:nth-child(2) a span {
  background-image: url(../img/icons/instagram.png);
}
.page-content__socials ul li:nth-child(3) a span {
  background-image: url(../img/icons/vkontakte.png);
}
.page-content__socials ul li:nth-child(4) a span {
  background-image: url(../img/icons/telegram.png);
}
.page-content .contact-form {
  width: 500px;
}
.page-content .contact-form input,
.page-content .contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}
.page-content .contact-form input:focus,
.page-content .contact-form textarea:focus {
  border-color: #fed330;
}
.page-content .contact-form button {
  outline: none;
  border: none;
}
@media (max-width: 992px) {
  .page-content .contact-form {
    width: 90%;
  }
}
@-webkit-keyframes arrow-down {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20.1%,
  100% {
    border-color: #000;
  }
}
@keyframes arrow-down {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  20.1%,
  100% {
    border-color: #000;
  }
}
@-webkit-keyframes watch {
  0% {
    color: #000;
  }
  100% {
    color: transparent;
  }
}
@keyframes watch {
  0% {
    color: #000;
  }
  100% {
    color: transparent;
  }
}
@-webkit-keyframes huge-bg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@keyframes huge-bg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
@-webkit-keyframes desappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes desappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .page-content {
    padding: 100px 50px;
  }
}
@media (max-width: 992px) {
  .left-sidebar {
    padding: 80px 20px;
  }
  .left-sidebar__nav ul li {
    margin-bottom: 20px;
  }
  .left-sidebar__nav ul li a {
    font-size: 12px;
  }
  .page-content {
    padding: 80px 20px;
  }
  .page-content h3 {
    font-size: 24px;
  }
  .page-content p {
    font-size: 14px;
    line-height: 20px;
  }
  footer.site-footer .footer-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer.site-footer .footer-nav ul li a {
    font-size: 16px;
  }
  footer.site-footer .footer-social ul li a {
    font-size: 24px;
  }
  footer.site-footer .footer-privacy {
    font-size: 10px;
  }
  footer.site-footer .footer-content {
    font-size: 10px;
    margin: 50px auto;
  }
  footer.site-footer .copy {
    font-size: 10px;
    bottom: 20px;
  }
  footer.site-footer .line {
    display: none;
  }
}
@media (max-width: 768px) {
  footer.site-footer .footer-content {
    font-size: 10px;
    margin: 100px auto;
  }
}
@media (max-width: 576px) {
  .button {
    padding: 10px 15px;
    font-size: 8px;
  }
  header .content .logo {
    width: 80px;
    height: 20px;
  }
  header .content .entry {
    margin-right: 10px;
    width: 200px;
  }
  header .content .entry ul li a {
    font-size: 12px;
  }
  header .content .languages {
    margin-right: 30px;
  }
  footer.site-footer {
    min-height: auto;
  }
  footer.site-footer .footer-nav ul li {
    margin-bottom: 20px;
  }
  footer.site-footer .footer-content {
    display: none;
  }
  footer.site-footer .footer-privacy {
    font-size: 8px;
  }
  .left-sidebar {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */