body {

	font-family: 'Poppins', sans-serif;
	background: #f6f6f6;


}

* {
	padding:0;
	margin: 0;
}

li {
	list-style: none;
	display: flex;
}

a {

	text-decoration: none;
}


header {

	background: #f6f6f6;
	padding:22px 0;
	
}

.header-container {

	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

.header-container a {
	color: #000;
	font-size:16px;
	padding:27px 6px;
	margin-right: 63px;
	white-space: nowrap;

}

.header-container a:hover {
	background: #ffea00;

}

#menu-checkbox {

	display:none;
}

.main-menu {
	display: flex;
	margin-top: 20px;

}

.top-slide {
	background: url('img/slider_bg.png') no-repeat;
	padding:120px 0 300px 0;
}

.top-slide h2 {
	background:#ffea00;
	text-transform: uppercase;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}

.top-container div:nth-child(2) {
	margin-bottom: 15px;
}

.top-container {
	width: 85%;
	margin: 0 auto;
}

.top-slide p {
	background:#414146;
	display: inline;
	font-size: 24px;
	padding: 0 5px;
	color:#fff;
}
.specialize {
	padding-bottom: 90px;
}
.specialize-container {

	width:80%;
	margin: 0 auto;
	text-align: center;
}

.specialize-container h3 {
	text-transform: uppercase;
	font-size: 35px;
	color:#424147;
}

.specialize .specialize-container h3+p {
	font-size: 24px;
	margin-top: 20px;
	color:#424147;
	margin-bottom: 60px;
}

.specialize-cards {
	display: flex;
	justify-content: space-around;
}

.card .top-card h4 {
	text-transform: uppercase;
	font-size: 20px;
}

.card .top-card {
	background:#ffea00;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.card .bottom-card {
	background:#414146;
	color:#fff;
	padding:20px;
	font-size: 13px;
	height: 50px;
}
.card .bottom-card .first-p {
	font-size: 20px;
	text-align: left;
	
}

.specialize-cards .card {
	flex-basis: 250px;
	overflow: hidden;
}

.specialize-cards .card img {
	margin-top: 35px;
	margin-bottom: 27px;
}

.portfolio {
	width: 90%;
	text-align: center;
	padding-bottom:30px;
	display:block;
	margin:0 auto;
	
}

.portfolio h4 {
	padding: 0 8px;
	background: #414146;
	display: inline-block;
	color:#ffea00;
	font-size: 18px;
	margin-bottom: 30px;
}

.portfolio p {
	color:#424146;
	font-size: 16px;
}	

.toggles button {
	border:none;
	color:#424146;
	cursor:pointer;
	font-size: 16px;
	margin:25px 2px 35px;
	text-transform: uppercase;
	background: none;
	text-decoration:underline;
}

.toggles button::after {
	content: ' / ';
}

.toggles button:last-child::after {
	content: '';
}

.post img {
	height:272px;
	max-width:300px; 
}
.posts {
	width:90%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	margin: 0 auto;
}

.brand-slider {
	width: 90%;
	text-align: center;
	padding-bottom:115px;
	display:block;
	margin:0 auto;
	
}
.brand-slider h4 {
	padding: 0 8px;
	background: #414146;
	display: inline-block;
	color:#ffea00;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 40px;
}

.brand-slider p {
	color:#424146;
	font-size: 16px;
	margin-bottom: 30px;
}	
.about {
	background: #414146;

}
.contacts {
	width:90%;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	color:#fff;
	padding: 30px 0;
	flex-wrap: wrap;

}

.contacts article {
	flex-basis: 30%;
}

.contacts h5 {
	font-size: 18px;
	margin-bottom: 30px;
}

.about-us p {
	margin-bottom: 35px;
}

.about-us h6 {
	padding: 13px;
	background: #000;
	display: inline-block;
	border-bottom: 2px solid #eeda00;
	margin-bottom: 45px;
	font-size: 16px;
}

.tweets li {
	list-style: none;
	margin-bottom: 55px;
	font-size: 13px;
	position: relative;
	display: inline-block;
}

.tweets ul li img {
	margin-right: 12px;
	height:24px;
}

.about a {
	text-decoration:none;
	color:#eeda00;
	margin:0 5px;
}

.tweets ul li::after {
	content:'3 days ago';
	position: absolute;
	top:50px;
	left:35px;
	color:#eeda00;
	font-size: 10px;
}

.social h5 {
	font-size: 16px;
	font-weight: normal;
	margin:auto 5px;
	margin-left: 0;
}

.social {
	display: flex;
	align-items: center;

	justify-content: space-between;
	margin-top: 100px;
}

.social img:hover {
	opacity: 0.5;
}

.info p:first-of-type {
	font-size: 13px;
	margin-bottom: 25px;
	padding: 10px 0 10px 40px;
	background: url('img/Adress.png') no-repeat;
}

.info p:first-of-type {
	font-size: 13px;
	margin-bottom: 25px;
	padding: 10px 0 10px 40px;
	background: url('img/Adress.png') no-repeat;
}

.info p {
	font-size: 13px;
	margin-bottom: 25px;
	padding: 10px 0 10px 40px;
}

.info p:first-of-type {
	background: url('img/Adress.png') no-repeat 0 5px;
}
.info p:nth-of-type(2) {
	background: url('img/Phone.png') no-repeat 0 12px;
}
.info p:nth-of-type(3) {
	background: url('img/email.png') no-repeat 0 5px;
	margin-bottom: 40px;
}

.info span {
	margin-left: 47px;
}

.info p:nth-of-type(4) {
	padding:5px 0;
}

.info input {
	border:none;
	border-bottom: 2px solid #eeda00;
	background: none;
	width:70%;
	height: 25px;
	margin-right: 10px;
	color:#fff;
	font-size: 20px;
}

.info button {
	background: none;
	border:none;
}

form .input {
	display: flex;
	align-items: flex-start;
}

footer {
	background: #000;
}

footer .footer-wrapper {
	width: 40%;
	margin:0 auto;
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
}

footer .footer-wrapper a {
	text-transform:uppercase;
	color:#fff;
	padding:3px;
}

footer .footer-wrapper a:hover {
	background: #414146;
}








@media screen and (max-width: 420px){

	.header-container {
		width: 100%;
		justify-content: space-around;
	}
	.main-menu {
		display:none;
	}

	.main-menu li {

		width:100%;
		display:block;
		font-size: 12px;
		padding: 8px;
	}

	

	.toggle-button {
		text-align: center;
		display: block;
		cursor:pointer;
		color:#000;
		margin-top: 20px;

	}

	.toggle-button::before {
		content: attr(data-open);
		display: block;
		background: #414146;
		padding: 5px;
		color:#fff;
	}

	#menu-checkbox:checked + nav[role = 'navigation'] .main-menu {
		display: flex;
		flex-direction: column;
	}
	#menu-checkbox:checked + nav[role = 'navigation'] .toggle-button::before {
		content: attr(data-close);
	}

	.header-container a {
		margin-right: -65px;
	}

	.main-menu {
		position: relative;
		top:30px;
		right:115px;
		margin-top: 40px;
	}
	.top-slide {
    padding-top: 40px;
    padding-bottom: 40px;
	}

	.top-slide h2 {
		font-size: 32px;
	}

	.top-slide p {
		font-size: 16px;
	}

	.specialize .specialize-container h3+p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 30px;
	}
	.specialize-cards {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.specialize-cards .card {
		width:200px;
		margin-top: 5px;
	}
	.card .bottom-card {
		padding:7px;
		font-size: 10px;
		height: 30px;
	}
	.card .bottom-card .first-p {
		font-size: 12px;
		text-align: center;
		
	}
	.posts {
	grid-template-columns: auto;
	grid-gap:5px;
	
	}
	.toggles button {
	margin:5px ;
	font-size: 14px;
	
}



}